<main>
    <div class="main__content">
        <div class="content__wrapper">
            <div class="project__title">
                <button class="main__backbtn" (click)="back()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <h1>Bike Odyssey</h1>
                <div class="stack__flex">
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>HTML</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p>CSS</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/ralphMartinFlores/bike-odyssey" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <a href="https://bike-odyssey.vercel.app" target="_blank" rel="noopener noreferrer">Visit Site</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-person"></i>
                        <p>Personal</p>
                    </div>
                </div>
            </div>
            <div class="project__introduction">
                <p>
                    During my internship at <a href="https://iformatlogic.com/" target="_blank" rel="noopener noreferrer">iFormatLogic</a>, I revamped a motorcycle shop landing page template called "Bike Odyssey." This project showcases my enhanced version of the original template.
                </p>
            </div>
            <div class="project__banner">
                <img src="assets/images/bikeodyssey-full-screenshot.webp" alt="Bike Odyssey Full Screenshot" loading="lazy">
            </div>
            <div class="project__objectives">
                <img src="assets/images/goals-illustration.webp" alt="Goals illustration" loading="lazy">
                <div>
                    <h1>Objectives & Goals</h1>
                    <p>My primary goal was to provide ample breathing space for all elements in the project, aligning with my philosophy of creating visually appealing User Interfaces. Additionally, I sought to enhance the overall aesthetic by incorporating contemporary images and techniques beyond the template's standards.</p>
                    <p>This involved simplifying and seamlessly integrating navigation within an enhanced hero section, introducing a dynamic Products section, and prominently featuring renowned brands in the Partners section.</p>
                </div>
            </div>
            <div class="project__problems">
                <div>
                    <h1>Problems and Thought Process</h1>
                    <p>During the development of this landing page, I faced significant challenges, mainly related to frequent revisions and feedback from my supervisor. In response, I implemented a series of solutions. This included refining section padding, simplifying the colored lines beneath section titles, optimizing the navigation bar for improved functionality, and modernizing the appearance of the cards.</p>
                </div>
                <img src="assets/images/problems-illustration.webp" alt="Problem solving illustration" loading="lazy">
            </div>
            <div class="project__lesson">
                <img src="assets/images/lessons-illustration.webp" alt="Lesson learned illustration" loading="lazy">
                <div>
                    <h1>Lessons Learned</h1>
                    <p>This project offered valuable insights into using gradients to create cards with full-sized photos while ensuring legible text. By juxtaposing the text against the image's black gradient, I learned a useful technique that blends aesthetics and functionality, resulting in a visually stunning and highly effective design approach.</p>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <app-footer></app-footer>
</main>
