<main>
    <div class="main__content">
        <div class="content__wrapper">
            <div class="project__title">
                <button class="main__backbtn" (click)="back()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <h1>Bike Odyssey</h1>
                <div class="stack__flex">
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>HTML</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p>CSS</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/ralphMartinFlores/bike-odyssey" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <a href="https://bikeodyssey.netlify.app" target="_blank" rel="noopener noreferrer">Visit Site</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-person"></i>
                        <p>Personal</p>
                    </div>
                </div>
            </div>
            <div class="project__introduction">
                <p>A landing page task assigned to me during my Internship at <a href="https://iformatlogic.com/" target="_blank" rel="noopener noreferrer">iFormatLogic</a>, Bike Odyssey is my improvement of a given Motorcycle shop landing page template.</p>
            </div>
            <div class="project__banner">
                <img src="assets/images/bikeodyssey-full-screenshot.webp" alt="Bike Odyssey Full Screenshot" loading="lazy">
            </div>
            <div class="project__objectives">
                <img src="assets/images/goals-illustration.webp" alt="Goals illustration" loading="lazy">
                <div>
                    <h1>Objectives & Goals</h1>
                    <p>First off, I wanted the elements to have enough breathing room with one another in order for this project to help convey who I am as a person who enjoys creating aesthetically pleasing User Interfaces.</p>
                    <p>Additionally, I wanted to include pictures and techniques that were more modern and attractive than those seen on the template such as making the navigation simpler and placing it inside of a hero section that is also improved, adding a Products section, and adding more known brands in the Partners section.</p>
                </div>
            </div>
            <div class="project__problems">
                <div>
                    <h1>Problems and Thought Process</h1>
                    <p>The biggest issues I ran through during the creation of this landing page were numerous edits from my supervisor. My solutions included adjusting section padding, shortening colored lines under the section titles, making a more functional navigation bar, and making cards look more modern.</p>
                </div>
                <img src="assets/images/problems-illustration.webp" alt="Problem solving illustration" loading="lazy">
            </div>
            <div class="project__lesson">
                <img src="assets/images/lessons-illustration.webp" alt="Lesson learned illustration" loading="lazy">
                <div>
                    <h1>Lessons Learned</h1>
                    <p>This project taught me how to use gradients to make cards with full-sized photos while still making the text inside it readable by contrasting it with the image's black gradient; for me, that was a really useful technique, it's beautiful and effective.</p>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <app-footer></app-footer>
</main>
