<footer>
  <div class="footer__content">
    <div>
      <h1>rappyCodes</h1>
    </div>
    <div class="footer__links">
      <p>2023 | Made by Ralph Martin Flores</p>
      <div class="footer__socmed">
        <a
          href="https://www.linkedin.com/in/ralph-martin-flores-6aa7b323b/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/ralphMartinFlores"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://join.skype.com/invite/vUNAnYG7M8hG"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-skype"></i>
        </a>
        <a
          href="https://www.instagram.com/ralphmartinflores/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
