<main>
    <div class="main__content">
        <div class="content__wrapper">
            <div class="project__title">
                <button class="main__backbtn" (click)="back()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <h1>Blanche</h1>
                <div class="stack__flex">
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>HTML</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p>CSS</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/ralphMartinFlores/blanche_IFL_OJT" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <a href="https://blanche-rappycodes.vercel.app" target="_blank" rel="noopener noreferrer">Visit Site</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-person"></i>
                        <p>Personal</p>
                    </div>
                </div>
            </div>
            <div class="project__introduction">
                <p>At <a href="https://iformatlogic.com/" target="_blank" rel="noopener noreferrer">iFormatLogic</a>, I created a landing page for Blanche, a high-quality cotton products seller. I started with a Photoshop design and turned it into HTML and CSS code. To keep the design accurate, I used Avocode to extract assets from the PSD file, making the conversion process smoother.</p>
            </div>
            <div class="project__banner">
                <img src="assets/images/blanche-full-screenshot.webp" alt="Blanche Full Screenshot" loading="lazy">
            </div>
            <div class="project__objectives">
                <img src="assets/images/goals-illustration.webp" alt="Goals illustration" loading="lazy">
                <div>
                    <h1>Objectives & Goals</h1>
                    <p>The PSD included a blurred image that perfectly matched the top part of the sofa. This helped me pinpoint the exact area I wanted to blur within the hero section image. I also used this opportunity to refine my absolute positioning skills, which I found to be the best approach for implementing the call-to-action element.</p>
                </div>
            </div>
            <div class="project__problems">
                <div>
                    <h1>Problems and Thought Process</h1>
                    <p>Due to time constraints on the project, I opted for a different approach. To make room for the hero text, I added a blur effect to the top of the sofa using Adobe Photoshop. Also, I received several revision requests about text sizes being too large. To address this, I switched to using pixel measurements for font sizes instead of ems, successfully resolving the issue.</p>
                </div>
                <img src="assets/images/problems-illustration.webp" alt="Problem solving illustration" loading="lazy">
            </div>
            <div class="project__lesson">
                <img src="assets/images/lessons-illustration.webp" alt="Lesson learned illustration" loading="lazy">
                <div>
                    <h1>Lessons Learned</h1>
                    <p>This project allowed me to learn new skills, such as selectively blurring parts of an image using Photoshop. Additionally, I gained insight into the importance of carefully examining PSD designs when converting them into code. It highlighted the need to find the right balance in font sizes, ensuring they are readable while accommodating the preferences of the majority of users.</p>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <app-footer></app-footer>
</main>
