<main>
    <div class="main__content">
        <div class="content__wrapper">
            <div class="project__title">
                <button class="main__backbtn" (click)="back()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <h1>The Planets</h1>
                <div class="stack__flex">
                    <div class="stack__tech">
                        <i class="fa-brands fa-angular"></i>
                        <p>Angular</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-angular"></i>
                        <p>Angular Material</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/ralphMartinFlores/the-planets" target="_blank" rel="noopener noreferrer">Repository</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        <a href="https://the-planets-rappycodes.vercel.app" target="_blank" rel="noopener noreferrer">Visit Site</a>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-person"></i>
                        <p>Personal</p>
                    </div>
                </div>
            </div>
            <div class="project__introduction">
                <p>I created a user-friendly platform inspired by Frontend Mentor's "The Planets" challenge. It showcases captivating images and detailed information about the planets in our Solar System.</p>
                <p>In a departure from the original challenge, I improved the user experience by implementing a tab-based navigation system. I utilized Angular and Angular Material to streamline the creation of individual components for each planet, simplifying the routing process. This subtle yet significant change sets it apart from Frontend Mentor's version.</p>
            </div>
            <div class="project__banner">
                <img src="assets/images/planets-full-screenshot.webp" alt="Planets Full Screenshot" loading="lazy">
            </div>
            <div class="project__banner">
                <img src="assets/images/planets-full-screenshot-1.webp" alt="Planets Full Screenshot" loading="lazy">
            </div>
            <div class="project__banner">
                <img src="assets/images/planets-full-screenshot-2.webp" alt="Planets Full Screenshot" loading="lazy">
            </div>
            <div class="project__objectives">
                <img src="assets/images/goals-illustration.webp" alt="Goals illustration" loading="lazy">
                <div>
                    <h1>Objectives & Goals</h1>
                    <p>My primary objective was to gain proficiency in migrating an Angular-built static website to Netlify and to re-create the challenge using this framework.</p>
                </div>
            </div>
            <div class="project__problems">
                <div>
                    <h1>Problems and Thought Process</h1>
                    <p>The project development went smoothly, but a significant issue arose just before the site's launch. Upon deploying the project to Netlify, I encountered a routing problem, realizing that managing routing with a framework introduced more complexity compared to not using one.</p>
                    <p>Fortunately, I found a comprehensive online guide with step-by-step instructions on correctly publishing an Angular project to Netlify. This resource helped me successfully resolve the routing issue and ensured a smooth launch for the site.</p>
                </div>
                <img src="assets/images/problems-illustration.webp" alt="Problem solving illustration" loading="lazy">
            </div>
            <div class="project__lesson">
                <img src="assets/images/lessons-illustration.webp" alt="Lesson learned illustration" loading="lazy">
                <div>
                    <h1>Lessons Learned</h1>
                    <p>To ensure smooth functionality of our newly deployed Angular site with Netlify routing, the crucial steps involved customizing our angular.json file and creating a _redirects file within our src folder. This experience, being my second project uploaded to Netlify, has strengthened my confidence in the reliability of this hosting service.</p>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <app-footer></app-footer>
</main>
