<main>
    <div class="main__content">
        <div>
            <button class="main__backbtn" (click)="back()">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <h1>Work Projects</h1>
        </div>
        <div>
            <div class="projects__grid">
                <div class="projects__card">
                    <img src="assets/images/interlinked-project-banner.webp" alt="Interlinked Project banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Interlinked (Old)</h3>
                            <p>First client project I handled professionally, uses custom MVC design.</p>
                        </div>
                        <button routerLink="/interlinked">Learn More</button>
                    </div>
                </div>
                <div class="projects__card">
                    <img src="assets/images/sil-plugin-project-banner.png" alt="SIL Project Banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Search it Local Australia</h3>
                            <p>Led my first solo client project, creating a specialized WordPress plugin.</p>
                        </div>
                        <button routerLink="/searchitlocal">Learn More</button>
                    </div>
                </div>
                <div class="projects__card">
                    <img src="assets/images/cannon-motors-project-banner.png" alt="Cannon Motors Project Banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Cannon Motors Australia</h3>
                            <p>Recreated an immersive section from Polestar with Elementor.</p>
                        </div>
                        <button routerLink="/cannonmotors">Learn More</button>
                    </div>
                </div>
                <div class="projects__card">
                    <img src="assets/images/chocsnboxes-project-banner.png" alt="Chocs n Boxes Project Banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Chocs 'n Boxes</h3>
                            <p>Landing page for a chocolate business template, made with Figma.</p>
                        </div>
                        <a class="projects__card___viewButton" href="https://i.ibb.co/r0SgD0d/Chocs-NBoxes-by-Ralph-Martin-Flores-min.png" target="_blank" rel="noopener noreferrer">View Design</a>
                    </div>
                </div>
                <div class="projects__card">
                    <img src="assets/images/virtualreel-project-banner.png" alt="Virtual Reel Project Banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Virtual Reel</h3>
                            <p>Landing page for a metaverse content creation tool, made with Figma.</p>
                        </div>
                        <a class="projects__card___viewButton" href="https://i.ibb.co/0YMhJBN/VIRTUALREEL-min.png" target="_blank" rel="noopener noreferrer">View Design</a>
                    </div>
                </div>
                <div class="projects__card">
                    <img src="assets/images/interlinked-new-project-banner.png" alt="New Interlinkled Project Banner" loading="lazy">
                    <div class="projects__card__content">
                        <div>
                            <h3>Interlinked (New)</h3>
                            <p>New version of Interlinked, now made with Laravel.</p>
                        </div>
                        <button routerLink="/interlinked-new">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="margin-top: 2rem;">Self Projects</h1>
        <div class="projects__grid">
            <div class="projects__card">
                <img src="assets/images/bfc-2-project-banner.webp" alt="BFC Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>But First, Coffee</h3>
                        <p>A landing page for a popular coffee shop in Olongapo City. Made with HTML, CSS and VanillaJS.</p>
                    </div>
                    <button routerLink="/bfc-olongapo">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/gocery-project-banner.webp" alt="Gocery Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Gocery (2022)</h3>
                        <p>An e-commerce application dedicated to selling groceries built with Angular.</p>
                    </div>
                    <button routerLink="/gocery">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/kireivalorant-projectbanner.webp" alt="Kirei Valorant Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Kirei - Valorant</h3>
                        <p>Contains core information about the popular FPS game, Valorant. Powered by the unofficial Valorant API.</p>
                    </div>
                    <button routerLink="/kireivalorant">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/bikeodyssey-project-banner.webp" alt="Bike Odyssey Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Bike Odyssey</h3>
                        <p>A landing page for a fictional motorcycle business, Bike Odyssey. Made with HTML, CSS and VanillaJS.</p>
                    </div>
                    <button routerLink="/bikeodyssey">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/blanche-project-banner.webp" alt="Blanche Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Blanche</h3>
                        <p>Landing page for Blanche, A business that sells home products made with quality cotton.</p>
                    </div>
                    <button routerLink="/blanche">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/planets-project-banner.webp" alt="Planets Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Planets</h3>
                        <p>My own spin on Frontend Mentor's Planets challenge, built using Angular Material.</p>
                    </div>
                    <button routerLink="/planets">Learn More</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>