<main>
    <div class="main__content">
        <div>
            <button class="main__backbtn" (click)="back()">
                <i class="fa-solid fa-arrow-left-long"></i>
            </button>
            <h1>All Projects</h1>
        </div>
        <div class="projects__grid">
            <div class="projects__card">
                <img src="assets/images/bfc-project-banner-1.webp" alt="BFC Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>But First, Coffee</h3>
                        <p>A landing page for a popular coffee shop in Olongapo City. Made with HTML, CSS and VanillaJS.</p>
                    </div>
                    <button routerLink="/bfc-olongapo">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/gocery-project-banner.webp" alt="Gocery Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Gocery (2022)</h3>
                        <p>An e-commerce application dedicated to selling groceries built with Angular.</p>
                    </div>
                    <button routerLink="/gocery">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/kireivalorant-projectbanner.webp" alt="Kirei Valorant Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Kirei - Valorant</h3>
                        <p>Contains core information about the popular FPS game, Valorant. Powered by the unofficial Valorant API.</p>
                    </div>
                    <button routerLink="/kireivalorant">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/bikeodyssey-project-banner.webp" alt="Bike Odyssey Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Bike Odyssey</h3>
                        <p>A landing page for a fictional motorcycle business, Bike Odyssey. Made with HTML, CSS and VanillaJS.</p>
                    </div>
                    <button routerLink="/bikeodyssey">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/blanche-project-banner.webp" alt="Blanche Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Blanche</h3>
                        <p>Landing page for Blanche, A business that sells home products made with quality cotton.</p>
                    </div>
                    <button routerLink="/blanche">Learn More</button>
                </div>
            </div>
            <div class="projects__card">
                <img src="assets/images/planets-project-banner.webp" alt="Planets Project banner" loading="lazy">
                <div class="projects__card__content">
                    <div>
                        <h3>Planets</h3>
                        <p>My own spin on Frontend Mentor's Planets challenge, built using Angular Material.</p>
                    </div>
                    <button routerLink="/planets">Learn More</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>