<main>
    <div class="main__content">
        <div class="content__wrapper">
            <div class="project__title">
                <button class="main__backbtn" (click)="back()">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </button>
                <h1>Interlinked (Old)</h1>
                <div class="stack__flex">
                    <div class="stack__tech">
                        <i class="fa-brands fa-php"></i>
                        <p>Custom MVC with PHP</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-css3-alt"></i>
                        <p>CSS</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-brands fa-html5"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="stack__tech">
                        <i class="fa-solid fa-person"></i>
                        <p>Work</p>
                    </div>
                </div>
            </div>
            <div class="project__introduction">
                <p>During my tenure, I had the opportunity to work with my first client outside of the initial training period. This client's project source code utilized their own MVC framework, ran on PostgreSQL, and was hosted on Nginx. </p>
                <p>To enhance the user experience, I implemented a series of UI improvements and introduced various backend functions. These additions are intricate logic calculations for different transactions made on the site. This experience allowed me to further develop my skills and contribute to the project's success.</p>
                <p>You can view some screenshots of the contributions I made in the project through accessing <a href="https://tinyurl.com/yc6zpuhz" target="_blank" rel="noopener noreferrer">this link</a></p>
                <p>Watch the videos below to watch video demonstrations of the backend functions that I made.</p>
            </div>
            <div class="project__banner">
                <img src="assets/images/landing_page_desktop_interlinked.webp" alt="Interlinked Landing Page Full Screenshot" loading="lazy">
                <iframe width="100%" height="100%" loading="lazy" src="https://www.youtube.com/embed/40TcwVGYt4I" title="Campaign Reminder Seven Days | Interlinked" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="100%" height="100%" loading="lazy"src="https://www.youtube.com/embed/UsRFpe8EL80" title="Campaign Reminder Revisions | Interlinked" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <iframe width="100%" height="100%" loading="lazy" src="https://www.youtube.com/embed/-EoqE7bmM5M" title="Automatically add a new record on reminded table on commission trigger   | Interlinked" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="project__objectives">
                <img src="assets/images/goals-illustration.webp" alt="Goals illustration" loading="lazy">
                <div>
                    <h1>Objectives & Goals</h1>
                    <p>My primary objectives and goals were to contribute to the project's development to the best of my abilities. I aimed to enhance the frontend by implementing UI fundamentals that I have knowledge of at the time, ensuring a user-friendly and visually appealing interface,and to completing every task assigned to me, demonstrating my dedication to the project's success.</p>
                </div>
            </div>
            <div class="project__problems">
                <div>
                    <h1>Problems and Thought Process</h1>
                    <p>One of the major challenges I encountered was the time it took to grasp the intricacies of the previous developer's custom MVC framework design. This complexity significantly slowed down the process of implementing backend functions.</p>
                    <p>It required numerous revisions to ensure the quality and robustness of the backend code. Understanding and adapting to the existing architecture posed a considerable thought process, but through perseverance and careful review, we were able to enhance the system's overall quality and functionality.</p>
                </div>
                <img src="assets/images/problems-illustration.webp" alt="Problem solving illustration" loading="lazy">
            </div>
            <div class="project__lesson">
                <img src="assets/images/lessons-illustration.webp" alt="Lesson learned illustration" loading="lazy">
                <div>
                    <h1>Lessons Learned</h1>
                    <p>I gained several valuable lessons during this experience, primarily related to PHP. Firstly, I deepened my understanding of PHP, especially in the context of handling dates, which proved to be a challenging aspect. Additionally, I honed my skills in working with loops in PHP, making my code more efficient and streamlined. </p>
                    <p>Another significant takeaway was mastering file handling in PHP, which is essential for various functionalities within the project. Moreover, I developed a clearer understanding of the Model-View-Controller (MVC) architectural pattern, which is vital for maintaining a well-structured and organized codebase.</p>
                    <p>These lessons have not only improved my proficiency in PHP but have also contributed to the project's overall success and quality.</p>
                </div>
            </div>
            <h1 style="text-align: center;">
                Timeline of Contributions
            </h1>
            <ul>
                <li style="--accent-color:var(--feb-timeline-color)">
                    <div class="date">February</div>
                    <div class="title">Highlights</div>
                    <div class="descr">
                        <p>• Improved user experience, visual appeal, and functionality on the website.</p>
                        <p>• Addressing channel link name overflow and introducing ellipsis effects improved readability on various devices.</p>
                        <p>• Streamlining the footer's responsive layout and adding ID selectors contributed to a more visually pleasing and user-friendly experience.</p>
                        <p>• The "latest_task()" function in the brand controller streamlined date calculations and email template generation, improving efficiency and productivity.</p>
                        <p>• New code components for retrieving and processing bidding dates automated date calculations, enhancing accuracy and efficiency.</p>
                        <p>• The creation of email templates using tables improved communication and user understanding.</p>
                        <p>• Frontpage and dashboard templates were updated for better mobile responsiveness and visual appeal, enhancing usability.</p>
                    </div>
                </li>
                <li style="--accent-color:var(--mar-timeline-color)">
                    <div class="date">March</div>
                    <div class="title">Highlights</div>
                    <div class="descr">
                        <p>• Introduction of a function for daily bid summaries sent via email, improving the organization and delivery of event summaries.</p>
                        <p>• Enhancements in spacing, consistency, and readability in various website elements, contributing to a more polished appearance and user experience.</p>
                        <p>• The creation of a function for automatic insertion of campaigns requiring reminders, streamlining the process and ensuring timely reminders.</p>
                        <p>• Optimization of the seven-day reminder email query for personalization, enhancing the user experience.</p>
                        <p>• The development of an Invoice create model function to retrieve campaign details, improving invoice creation efficiency.</p>
                    </div>
                </li>
                <li style="--accent-color:var(--apr-timeline-color)">
                    <div class="date">April</div>
                    <div class="title">Highlights</div>
                    <div class="descr">
                        <p>• Streamlining the invoicing process through the removal of unnecessary functions and variables.</p>
                        <p>• Achieving the ability to display collaborations on the invoicing PDF template with minimal changes to the code structure.</p>
                        <p>• Refining the query to retrieve bids on an invoice, specifically from influencers, for an improved invoicing report.</p> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    <app-footer></app-footer>
</main>